[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = git@github.com:jpritikin/hugo-book.git
[submodule "themes/hugo-atom-feed"]
	path = themes/hugo-atom-feed
	url = git@github.com:kaushalmodi/hugo-atom-feed.git
